.App{
    min-height: 100vh;
}

.card{
    min-height: 200px;
}

.recharts-legend-wrapper{
    
    left: 55% !important;
    width: 200px !important;
    top: 30%;
}
.recharts-wrapper{
    width: 100% !important;
}
/* .recharts-layer{
    padding-right: 50px !important;
} */